/*html, div{
	border: 1px black dashed;
}*/

body {
	background-color: #F8F8E6;
	/*background-color: #B7C68B;*/
	/*background-color: #FAFAFA;*/
}

h2 {
	text-align: center;
	color: #grey;
	font-weight: lighter;
}

.col-sm-4 {
	padding: 10px;
	width: 380px;
}

.three-columns {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}

.panel-default, .ul-container {
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

div.panel-heading.pros,
div.panel-heading.cons,
div.panel-heading.results {
	font-family: 'Dancing Script';
	text-align: center;
	height: 10%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: none;
	background-color: #ffffff;
	padding: 0px;
}

#pros-heading {
	color: #A4B27D;
	font-size: 56px;
	margin-bottom: 0px;
}

#cons-heading {
	/*font-family: 'Allura', cursive;*/
	color: #D07859;
	font-size: 56px;
	margin-bottom: 0px;
}

#results-heading {
	color: #B3A580;
	font-size: 56px;
	margin-bottom: 0px;
	font-family: 'Allura', cursive;
}

.results-panel {
	text-align: center;
}

.list-group {
	margin-left: auto;
	margin-right: auto;
	font-size: 26px;
	list-style: none;
}

.list-group-item {
	border: none;
}
