.list-header {
	position: relative;
	display: block;
	width: 50%;
	min-width: 278px;
	max-width: 425px;
	height: 4em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	background-color: #009688;
}

.list-header-text {
	position: relative;
	color: white;
	font-family: 'RobotoDraft', sans-serif;
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
	width: 100%;
	min-width: 278px;
	max-width: 425px;
	height: 1.5em;
	margin-left: auto;
	margin-right: auto;
	padding-top: .5em;
}

.list-container {
	display: block;
	width: 50%;
	min-width: 278px;
	max-width: 425px;
	height: 25.5em;
	margin-left: auto;
	margin-right: auto;
}

.input-field-container {
	position: relative;
	display: block;
	height: 3.5em;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-width: 278px;
	max-width: 425px;
	border-bottom: .08em dotted lightgrey;
}

.input-field {
	position: relative;
	display: block;
	height: 2em;
	color: #485563;
	font-family: 'RobotoDraft', sans-serif;
	font-size: 1em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	width: 180px;
	max-width: 220px;
	min-width: 200px;
	height: 33px;
	padding-left: .5em;
}

.icon-cancel {
	float: right;
	width: 30px;
	height:30px;
}

.list-item {
	position: relative;
	display: block;
	color: black;
	border-bottom: .08em dotted lightgrey;
	font-family: 'RobotoDraft', sans-serif;
	text-align: center;
	font-size: 1em;
	font-weight: lighter;
	width: 100%;
	max-width: 425px;
	min-width: 278px;
	height: 2em;
	padding-top: .5em;
	margin-left: auto;
	margin-right: auto;
}