body {
  background: -webkit-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  background:    -moz-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  background:     -ms-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  background:      -o-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  background:         linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  height: 700px;
}

.up-in-here {
	height: 700px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.column {
	width: 30%;
	min-width: 300px;
}

h2 {
	text-align: center;
	font-weight: lighter;
	margin-top: 35px;
	margin-bottom: 35px;
}

.three-columns {
	min-height: 500px;
	margin-left: 10%;
	margin-right: 10%;
	width: 90%;
}

.pros-panel,
.cons-panel,
.results-panel {
	padding: 10px;
	min-height: 500px;
	margin-bottom: 30px;
}

.results-panel {
	text-align: center;
}

#pros-heading,
#cons-heading,
#results-heading,
.cons,
.pros,
.results {
	font-family: inherit;
	font-weight: lighter;
	font-size: 42px;
	text-align: center;
	height: 70px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#pros-heading {
	color: #A4B27D;
}

#cons-heading {
	color: #D07859;
}

#results-heading {
	color: #B3A580;
}

.list-group {
	font-size: 26px;
	list-style: none;
}

.list-group-item {
	border: none;
}
