@import url(http://fonts.googleapis.com/css?family=Dancing+Script);

body {
  background: -webkit-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  background:    -moz-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  background:     -ms-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  background:      -o-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  background:         linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  height: 700px;
}

.up-in-here {
	height: 700px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
    z-index: 100;
}

.form-container {
	position: static;
	width: 328px;
	max-height: 34px;
	min-width: 328px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
}

.input-wrapper {
	position: static;
	width: 328px;
	max-height: 34px;
	min-width: 328px;
	margin-left: auto;
	margin-right: auto;
}

.input-box {
	width: 328px;
	min-width: 328px;
	max-height: 34px;
	margin: 0px;
}

#input-field {
	position: static;
	font-size: 18px;
	border-color: #555;
	width: 220px;
}

#pro-button {
	position: static;
	color: #A4B27D;
	font-size: 22px;
	padding: 0px;
	width: 50px;
	height: 32px;
	padding-top: 2px;
}

#pro-button:active,
#con-button:active {
	font-size: 16px;
}

#con-button {
	color: #D07859;
	font-size: 22px;
	padding: 0px;
	width: 50px;
	height: 32px;
	padding-top: 2px;
}

.row-container {
	width: 350px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
}

.three-columns {
	position: static;
	margin-left: auto;
	margin-right: auto;
	width: 1110px;
}

.column {
	display: inline-block;
	width: 340px;
	min-width: 300px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0px;
}

.pros-panel,
.cons-panel,
.results-panel {
	min-height: 500px;
	margin-bottom: 30px;
	min-width: 300px;
	width: 340px;
	border-color: #555;
	text-align: center;
}

.pros-panel:before,
.pros-panel:after {
	content: ""; 
    z-index: -1; 
    position: absolute; 
    width: 50%; 
    top: 160px; 
    right: 25px; 
    bottom: 40px; 
    -webkit-transform: rotate(3deg); 
    transform: rotate(3deg); 
    box-shadow: 0px 15px 10px #2A363B; 
}

.cons-panel:before,
.cons-panel:after  {
	content: ""; 
    z-index: -1; 
    position: absolute; 
    width: 50%; 
    top: 160px; 
    bottom: 40px; 
    left: 25px; 
    -webkit-transform: rotate(-3deg); 
    transform: rotate(-3deg); 
    box-shadow: 0px 15px 10px #2A363B;
}

.results-panel {
	text-align: center;
	/*box-shadow: 0px 1px 4px 0px #99a3ad, 0px 0px 40px #eeeeee; highlight effect*/
}

.results-panel:before, .results-panel:after {
	content: ""; 
    z-index: -1; 
    position: absolute; 
    width: 50%; 
    top: 160px; 
    bottom: 40px; 
    left: 25px; 
    -webkit-transform: rotate(-3deg); 
    transform: rotate(-3deg); 
    box-shadow: 0px 15px 10px #2A363B; 
}

#pros-heading,
#cons-heading,
#results-heading,
.cons,
.pros,
.results {
	text-align: center;
	font-family: Dancing Script;
	font-size: 48px;
	height: 70px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: none;
	padding-top: 6px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#pros-heading {
	color: #A4B27D;
}

#cons-heading {
	color: #D07859;
}

#results-heading {
	color: #6a6a6a;
}

hr {
	width: 80%;
	border-color: #D7CFCF;
	margin-bottom: 15px;
}

.list-group {
	font-size: 24px;
	list-style: none;
}

.list-group-item {
	font-size: 20px;
	color: #555;
	font-weight: normal;
	border: none;
}

.list-group-item:hover {
	box-shadow: 0px 0px 1px 0px #99a3ad, 0px 0px 0px #eeeeee;
	cursor: pointer;
}

.panel > .list-group .list-group-item {
	border-radius: 4px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 2px;
}

/*.panel > .list-group:last-child .list-group-item:last-child, .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
	border: 1px red solid;
}*/


